{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-3">
<h3 class='text-white my-5'> </h3>
</div>
<div class='col-sm-6'>
<h3 class="text-white my-5">About Page</h3>
<p class='text-white text-justify'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique temporibus veniam 
voluptas magni voluptates tenetur deserunt at eius, nam, adipisci consequuntur earum amet fuga maxime
 autem eum ipsam voluptatem optio. Beatae, culpa libero dolores officiis sint numquam tempore at error 
 hic minima in dignissimos sapiente, non voluptas? Eligendi, omnis.</p>
<p class='text-white text-justify'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique temporibus veniam 
voluptas magni voluptates tenetur deserunt at eius, nam, adipisci consequuntur earum amet fuga maxime
 autem eum ipsam voluptatem optio. Beatae, culpa libero dolores officiis sint numquam tempore at error 
 hic minima in dignissimos sapiente, non voluptas? Eligendi, omnis.</p>

</div>


{% endblock content %}